html {
  background-image: url(images/zas1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {  
  background-color: rgba(170, 163, 162, 0.7);
  text-align: justify;
    letter-spacing: 1px;
    height: 7em;
    padding: 2em 10%;
    /*opacity: 0.7; 
  /*min-height: 100vh;
  display: inline block;
  /*flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-link {
  color: #e7d31b;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
